.nav-list-item
    text-decoration: none
    display: inline-block
    text-transform: uppercase
    font-size: 18px
    transform: skewX(-25deg)
    border-right: 2px solid #ebebeb
    padding: 7px 0
    cursor: pointer
    &:last-child
        border: none
    span
        display: block
        transform: skewX(25deg)
        margin: 0 30px

.active
    color: black