.form-box
    width: 66.666%
    .form
        display: flex
        flex-direction: column
        &__inputs
            display: flex
            justify-content: space-between
            margin-bottom: 40px
        &__btn
            margin-top: 40px