.footer
    box-shadow: 0px 0px 8px
    z-index: 10
    color: #9c9c9c
    .logo-container
        text-align: center
        border-bottom: 1px solid #ebebeb
    &__logo
            margin: 64px 0 44px 0
    &__inf
        text-align: center
        margin: 37px 0 44px 0
        .autors
            margin-bottom: 10px
        .coder
            color: black
            text-decoration: none
@media (max-width: 1400px)
    .footer
        &__inf
            margin: 37px 80px 44px
@media (max-width: 1020px)
    .footer
        &__inf
            margin: 37px 50px 44px
@media (max-width: 530px)
    .footer
        &__inf
            font-size: 13px