.team-title
    text-align: center
    font-family: RobotoLight
    display: flex
    flex-direction: column
    align-items: center
    .headline
        font-size: 30px
        letter-spacing: 15px
        text-transform: uppercase
        margin-bottom: 30px
    .sentence
        font-family: RobotoRegular
        display: inline-block
        width: 715px
        font-size: 14px
        color: #989898
        line-height: 25px