@font-face
    font-family: RobotoRegular
    src: url("./fonts/RobotoRegular.ttf")

@font-face
    font-family: RobotoLight
    src: url("./fonts/RobotoLight.ttf")

@font-face
    font-family: RobotoBold
    src: url("./fonts/3955.ttf")

@font-face
    font-family: RobotoItalic
    src: url("./fonts/3961.ttf")

.app
    user-select: none
    display: flex
    flex-direction: column
    width: 100%
    font-family: RobotoRegular